# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Model & data artifacts
*.pkl
*.joblib

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# IDE / editor settings
.vscode/
.idea/

# ngrok files
ngrok.yml

# Logs
*.log
